@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --blue: #0089D0;
  --blue-secondary: #86B9FF;
  --blue-gradient: linear-gradient(90deg, var(--blue) 0%, var(--blue-secondary) 100%);
  --purple: #6460AA;
  --purple-secondary: #E37EF0;
  --purple-gradient: linear-gradient(90deg, var(--purple) 0%, var(--purple-secondary) 100%);
  --green: #00BCB0;
  --green-secondary: #57DE9B;
  --green-gradient: linear-gradient(90deg, var(--green) 0%, var(--green-secondary) 100%);
  --subtext: #97989a;
  --shadow: 0px 2px 10px rgba(0, 0, 0, .15);
  --dark: #212427f5;
  --foreground: #21242781;
  --red: #CC3F00;
}

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  font-size: 0.9rem;
  display: flex;
  width: 100%;
  height: 100%;
  /* scrollbar-gutter: stable; */
}

main {
  padding: 0;
  margin: 0;
  width: calc(100% - 75px);
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
} 


.page-col {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}

.record__section {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.profile .record__section {
  border-right: 1px solid #e6e6e6;
}

.record__section--body {
  padding: 0 2rem;
}

.section__header {
  align-items: center;
}

.section__header--container {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section__header--text {
  letter-spacing: 0.5px;
  font-size: 1rem;
  text-align: center;
  border: 2px solid var(--blue);
  color: var(--blue);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  width: 100%;
  max-width: 150px;

}

.button__container {
  display: flex;
  flex-direction: row;
  column-gap: 0.8rem;
  justify-content: flex-end;
  margin-right: -2.5rem;
  padding-left: 0;
  padding-right: 0 !important;
}

.section__button {
  font-size: 1.2rem;
  margin-left: .25rem;
}

.section__content {
  margin-top: 1.5rem;
}

.section__header--container {
    margin-left: -.25rem;
    margin-right: -.25rem;
}

.section__field {
  background-color: #fbfbfb;
  padding: 10px 12px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--foreground);
  font-family: "Source Code Pro", monospace;
  font-size: 0.9rem;
  margin: .25rem -.25rem;
}

.section__field--label>i.fas {
  width: 25px;
  text-align: center;
}

.section__field--value {
  flex-wrap: nowrap;
  color: var(--dark);
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section__field--label {
  white-space: nowrap;
  margin-right: 1rem;
}
